.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
body {
    opacity: 1;
    transition-duration: 0.7s;
    transition-property: opacity;
}
body.fade {
    opacity: 0;
}
*{
    margin:0;
    padding:0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
.nav1{
    background: #747C82;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.icon{
    width: 120px;
}
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
.user-pic:hover{
    opacity: 0.5;
}
.nav1 ul{
    width: 100%;
    text-align: right;
}
.nav1 ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.nav1 ul li a{
    color: #fff;
    text-decoration: none;
}
.nav1 ul li a:hover{
    color:red;
    transition-duration: 0.5s;
}
.sub-menu-wrap{
    z-index: 4;
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    z-index: 4;
    max-height: 400px;
}
.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}
.fa-twitter {
    color: white;
}
.fa-facebook {
    color: white;
}
.fa-youtube{
    color: white;
}
.fa-reddit{
    color: white;
}
.fa-twitter{
    padding: 25px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}
.fa-facebook{
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}
.fa-youtube{
    padding: 25px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}
.fa-reddit{
    padding: 25px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}
.fa-twitter:hover {
    background-color:#55ACEE;
    transition-duration: 0.5s;
}
.fa-facebook:hover {
    background-color: #3B5998;
    transition-duration: 0.5s;
}
.fa-youtube:hover{
    background-color: #bb0000;
    transition-duration: 0.5s;
}
.fa-reddit:hover{
    background-color: #ff5700;
    transition-duration: 0.5s;
}
.fa-solid{
    font-size: 30px;
}
.under{
    padding: 1%;
    text-align: center;
    background: #747C82;
    color: white;
}
ul.sort{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.li1{
    display: inline-block;
    margin: 0 8%;
}
html{
    scroll-behavior: smooth;
}
.readm{
    text-decoration: none;
    color: #feecf9;
    padding: 0.5%;
    background-color: #fb3a64;
    border: 1px solid #fb3a64; 
}
.readm:hover{
    background-color: #feecf9;
    color: #fb3a64;
    transition-duration: 0.4s;
}
.img1{
    width: 54%;
    height: 40%;
}
.img2{
    width: 49%;
    height: 45%;
}
