/* Testing java */
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
body {
    opacity: 1;
    transition-duration: 0.7s;
    transition-property: opacity;
}
body.fade {
    opacity: 0;
}





































/*
.fa-twitter {
    color: white;
}
.fa-facebook {
    color: white;
}
.fa-youtube{
    color: white;
}
.fa-reddit{
    color: white;
}
.fa{
    padding: 20px;
    font-size: 17px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-twitter:hover {
    background-color:#55ACEE;
    transition-duration: 0.5s;
}
.fa-facebook:hover {
    background-color: #3B5998;
    transition-duration: 0.5s;
}
.fa-youtube:hover{
    background-color: #bb0000;
    transition-duration: 0.5s;
}
.fa-reddit:hover{
    background-color: #ff5700;
    transition-duration: 0.5s;
} */
/* MainPage style */

/* About1 Style*/


/* About2 Css */

/* Memberinfo style */

