/* Testing java */
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
body {
    opacity: 1;
    transition-duration: 0.7s;
    transition-property: opacity;
}
body.fade {
    opacity: 0;
}
/* MainPage style */
.header1{
    padding: 1%;
    text-align: center;
    background: #074A6E;
    color: white;
}
.bg1{
    background-image: url("images/bird.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
} 
ul.sort1{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.li1{
    display: inline-block;
    margin: 0 3%;
}
.fa-twitter {
    color: white;
}
.fa-facebook {
    color: white;
}
.fa-youtube{
    color: white;
}
.fa-reddit{
    color: white;
}
.fa{
    padding: 20px;
    font-size: 17px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-twitter:hover {
    background-color:#55ACEE;
    transition-duration: 0.5s;
}
.fa-facebook:hover {
    background-color: #3B5998;
    transition-duration: 0.5s;
}
.fa-youtube:hover{
    background-color: #bb0000;
    transition-duration: 0.5s;
}
.fa-reddit:hover{
    background-color: #ff5700;
    transition-duration: 0.5s;
}
.underline{
    text-decoration: none;
    color: white;
}
.underline:hover{
    transition-duration: 0.5s;
    color: #94E3B8;
}
.centre{
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-size: 400%;
    color: #8F7107;
}
.flexes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fa-arrow-left{
    color: red
}
.fa-arrow-left:hover{
    transition-duration: 0.4s;
    color: #D9AD1A;
}
.buttens1{
    font-size: 50px;
    padding: 1%;
}
.buttens2{
    font-size: 50px;
    padding: 1%;
}
.fa-arrow-right{
    color: red
}
.fa-arrow-right:hover{
    transition-duration: 0.4s;
    color: #D9AD1A;
}
/* About1 Style*/
.buttens3{
    font-size: 50px;
    padding: 1%;
    position: absolute;
    margin-right:90%;
}
.buttens4{
    font-size: 50px;
    padding: 1%;
    position: absolute;
    margin-left:94%;
}
.bg2{
    background-color: #DBEBBE;
} 
.header2{
    padding: 1%;
    text-align: center;
    background: #6B4B4B;
    color: #B8B8B8;
    font-size: 11px;
    font-family: 'Lobster', cursive;
}
ul.sort2{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.li2{
    display: inline-block;
    margin: 0 12%;
}
.change{
    font-family: 'Roboto Condensed', sans-serif;
}
@media all and (max-width: 400px) {
    .flex { flex-direction: column; } 
    .flex div:first-child { min-height: 200px; }
}

@media all and (max-width: 600px) {
    .flex div { flex: 1; }
}

.flex {
    margin: 0;
    display: flex;
    margin-bottom: 2rem;
}

.flex div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}

.flex div:last-child {
    margin: 2rem;
    flex: 2;
}

.flex h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
}
.flex p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}
.flex p:last-of-type {
    margin-bottom: 0;
}
.flex:first-of-type div:first-child {
    background-image: url("images/descriptionpageimage.jpg");
    border: 3px dotted #5E5D51;
    margin-left: 5%;
}
.column{
    margin-top: 7%;
}
.ffont{
    font-family: 'Poppins', sans-serif;
}
.readm{
    text-decoration: none;
    color: #feecf9;
    padding: 0.5%;
    background-color: #fb3a64;
    border: 1px solid #fb3a64;
    font-family: 'Karla', sans-serif;   
}
.readm:hover{
    background-color: #feecf9;
    color: #fb3a64;
    transition-duration: 0.4s;
}
.box{
    z-index: -1;
    border: 9px solid #5E5D51;
    width: 29%;
    height: 55%;            
    position: absolute;
    top: 25%;
    left: 3%;
}
/* About2 Css */
.ffont2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.bg3{
    background-color:#323630  ;
}
.header3{
    padding: 1%;
    text-align: center;
    background: #323630;
    color: #B8B8B8;
    font-size: 11px;
    font-family: 'Lobster', cursive;
}
ul.sort3{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.li3{
    display: inline-block;
    margin: 0 12%;
}
.change2{
    font-family: 'Roboto Condensed', sans-serif;
}
.img1{
    width:100%;
    height: 100%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Secular One', sans-serif;
    color: #DEDDBF;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.boxes{
    width: 100%;
}
.boxes p{
    margin-left: 5%;
    width: 90%;
    text-align: center;
    color: #B8B8B8;
}
.readm1{
    text-decoration: none;
    color: #feecf9;
    padding: 0.5%;
    background-color: #fb3a64;
    border: 1px solid #fb3a64;
    font-family: 'Karla', sans-serif;   
}
.readm1:hover{
    background-color: #feecf9;
    color: #fb3a64;
    transition-duration: 0.4s;
}
/* Memberinfo style */
.bg4{
    background-color: #202c36;
} 
.buttens5{
    font-size: 50px;
    padding: 1%;
    margin-right: 1%;
}
.buttens6{
    font-size: 50px;
    padding: 1%;
}
.header4{
    padding: 1%;
    margin-bottom: 3%;
    text-align: center;
    background: #747C82;
    color: #B8B8B8;
    font-size: 11px;
    font-family: 'Lobster', cursive;
}
ul.sort4{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.li4{
    display: inline-block;
    margin: 0 12%;
}
.ffffont{
    font-family: 'Mulish', sans-serif;
}
/* Flexboxes column styling */
/* Flexbox 1 */
.flex1{
    margin-top: 5%;
    margin: 0;
    display: flex;
}
.flex1 div:first-child{
    flex: 1;
    background-size: cover;
    background-position: center;
}
.flex1 div:last-child{
    margin: 2rem;
    flex: 2;
}
.flex1 h3{
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
}
.flex1 p{
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}
.flex1 p:last-of-type{
    margin-bottom: 0;
}
.flex1:first-of-type div:first-child{
    background-image: url("images/ChrisMartin.webp");
}
.box1{
    z-index: -1;
    border: 9px solid #a43552;
    width: 27%;
    height: 40%;            
    position: absolute;
    top: 17%;
    left: 5%;
}
@media all and (max-width: 400px) {
    .box1{
        opacity: 0;
    }
    .flex1 { flex-direction: column; } 
    .flex1 div:first-child { min-height: 200px; }
}

@media all and (max-width: 600px) {
    .flex1 div { flex: 1; }
}
/* Flexbox 2 */
.flex2{
    margin: 0;
    display: flex;
}
.flex2 div:first-child{
    flex: 1;
    background-size: cover;
    background-position: center;
}
.flex2 div:last-child{
    margin: 2rem;
    flex: 2;
}
.flex2 h3{
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
}
.flex2 p{
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}
.flex2 p:last-of-type{
    margin-bottom: 0;
}
.flex2:first-of-type div:first-child{
    background-image: url("images/Guyberryman.webp");
}
.flex2:nth-child(odd){
    flex-direction: row-reverse;
}
.box2{
    z-index: -1;
    border: 9px solid #a43552;
    width: 27%;
    height: 48%;            
    position: absolute;
    top: 60%;
    left: 68%;
}
@media all and (max-width: 400px) {
    .box2{
        opacity: 0;
    }
    .flex2:nth-child(odd){
        flex-direction: column;
    }
    .flex2 { flex-direction: column; } 
    .flex2 div:first-child { min-height: 200px; }
}

@media all and (max-width: 600px) {
    .flex2 div { flex: 1; }
}
/* Flexbox 3 */
.flex3{
    margin: 0;
    display: flex;
}
.flex3 div:first-child{
    flex: 1;
    background-size: cover;
    background-position: center;
}
.flex3 div:last-child{
    margin: 2rem;
    flex: 2;
}
.flex3 h3{
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
}
.flex3 p{
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}
.flex3 p:last-of-type{
    margin-bottom: 0;
}
.flex3:first-of-type div:first-child{
    background-image: url("images/Jonnybuckland.webp");
}
.box3{
    z-index: -1;
    border: 9px solid #a43552;
    width: 27%;
    height: 48%;            
    position: absolute;
    top: 112%;
    left: 5%;
}
@media all and (max-width: 400px) {
    .box3{
        opacity: 0;
    }
    .flex3 { flex-direction: column; } 
    .flex3 div:first-child { min-height: 200px; }
}

@media all and (max-width: 600px) {
    .flex3 div { flex: 1;}
}
/* Flexbox 4 */
.flex4{
    margin: 0;
    display: flex;
}
.flex4 div:first-child{
    flex: 1;
    background-size: cover;
    background-position: center;
}
.flex4 div:last-child{
    margin: 2rem;
    flex: 2;
}
.flex4 h3{
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
}
.flex4 p{
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}
.flex4 p:last-of-type{
    margin-bottom: 0;
}
.flex4:first-of-type div:first-child{
    background-image: url("images/Willchampion.jpg");
}
.flex4:nth-child(odd){
    flex-direction: row-reverse;
}
.box4{
    z-index: -1;
    border: 9px solid #a43552;
    width: 27%;
    height: 50%;            
    position: absolute;
    top: 162%;
    left: 68%;
}
@media all and (max-width: 400px) {
    .box4{
        opacity: 0;
    }
    .flex4:nth-child(odd){
        flex-direction: column;
    }
    .flex4 { flex-direction: column; } 
    .flex4 div:first-child { min-height: 200px; }
}

@media all and (max-width: 600px) {
    .flex4 div { flex: 1;}
}
/* Normal styling Memberinfo */